.site-header {
   height: @header-height;
  .header-background{
    height: @header-height - @header-background-img-margin;
    .bg-img('header.png',initial);
  }

  ul{
    &:extend(.ul-unstyled);//убираем отступы элемента ul
    li{
      display: inline-block;
      margin-left: 15px;
      a{
        display: block;
        color: @text-color;
        text-decoration: none;
      }
    }
  }
}
.site-nav{
  padding: @logo-font-size/2 0;
}
.logo-background{
  background-color: @header-logo-background;
  a{
    margin-left: 36%;
    text-decoration: none;
    color: @text-color;
  }
}
.transparent-layer{
    background-color: rgba(53,53,51,0.3);

    height: @header-height;
}
.nav-background{
  background-color: @header-nav-color;
  height: inherit;
}
.logo-text{
 font-size: @logo-font-size;
  sup{
    color: #f5937e;
  }
}


