<article *ngFor="let post of posts | slice:0:bigPosts" class="article">
    <div class="news-head">
        <div *ngIf="isLogin() && getUser().name == post.creator.name" class="post-manage">
            <div  class="manage-control">
                <a (click)="edit(post)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </div>

            <div *ngIf="isLogin()" class="manage-control hover-display">
                <a (click)="remove(post)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>

        </div>
        <div *ngIf="isLogin()" class="comments-amount">
            <a (click)="comments(post)">
                {{post.comments.length}} Comments
            </a>
        </div>
        <div class="news-social-network">
            <div class="image">

                <img src="{{post.imageUrl}}" alt="Head Image">

            </div>
            <div class="circle">
                <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </div>
            <div class="circle">
                <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="news-body">
        <h1>{{post.title}}</h1>
        <small>{{post.date}}</small>
        <h3>{{post.subtitle}}</h3>
        <span>{{post.text}}</span>
    </div>
</article>

<div class="row">
    <div *ngFor="let post of posts | slice:bigPosts" class="col-md-6 col-lg-6 col-sm-6">
        <article class="article">
            <div class="news-head">
                <div *ngIf="isLogin() && getUser().name == post.creator.name" class="post-manage small">
                    <div class="manage-control">
                        <a (click)="edit(post)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="manage-control hover-display">
                        <a (click)="remove(post)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div *ngIf="isLogin()" class="comments-amount small">
                    <a (click)="comments(post)">
                        {{post.comments.length}} Comments
                    </a>
                </div>
                <div class="news-social-network">
                    <div class="image">
                        <img src="{{post.imageUrl}}" alt="Head Image">
                    </div>
                </div>
            </div>
            <div class="news-body">
                <h1>{{post.title}}</h1>
                <small>{{post.date}}</small>
                <br>
                <span>{{post.text}}</span>
            </div>
        </article>
    </div>
</div>
<app-dialog [(visible)]="showDialog">
    <div class="modal-header">
        <span class="modal-title">Delete</span>
    </div>
    <div class="modal-body">
        <form class="basic-form">
            <input class="input-submit" type="button" value="Yes" (click)="yes()">
            <input class="input-submit"  type="button" value="No" (click)="no()">
        </form>
    </div>
</app-dialog>