<div class="controls">
    <div class="manage-control">
        <a [routerLink]="['/posts',post.id,'edit']">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
    </div>
    <div  class="manage-control hover-display">
        <a (click)="remove()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
</div>
<app-dialog [(visible)]="showDialog">
    <div class="modal-header">
        <span class="modal-title">Delete</span>
    </div>
    <div class="modal-body">
        <form class="basic-form">
            <input class="input-submit" type="button" value="Yes" (click)="yes()">
            <input class="input-submit" type="button" value="No" (click)="no()">
        </form>
    </div>
</app-dialog>