<span class="hello-message" [hidden]="!isLogin()">Hello, {{getUserName()}}!</span>
<a (click)="showDialog = !showDialog" [hidden]="isLogin()">Login</a>

<a class="manage-block" (click)="logout()" [hidden]="!isLogin()">Logout</a>

<app-dialog [(visible)]="showDialog">
    <div class="modal-header">
        <span class="modal-title">Login</span>
    </div>
    <div class="modal-body">
        <form class="basic-form">
            <input class="input-text" type="text" placeholder="username" #username required>
            <input class="input-text" type="password" placeholder="password" #password required>
            <input class="input-submit" type="submit" value="Login" (click)="login(username,password)">
        </form>
    </div>
</app-dialog>