//basic tags and general rules
body{
    background: url("@{img-folder}background-img.jpg");
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(147, 147, 147);
    line-height: 2;
    text-align: left;
    text-shadow: 0.5px 0.866px 1px rgba(255, 255, 255, 0.004);
    min-width: 768px;
}
small{
    font-size: 90%;
}