//basic tags and general rules
body{
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(147, 147, 147);
    line-height: 2;
    text-align: left;
    text-shadow: 0.5px 0.866px 1px rgba(255, 255, 255, 0.004);
}