//URL relative to the style.css
@font-folder:'../fonts/';
@img-folder: '../img/';

@header-height: 92px;
@header-nav-height: 45px;
@header-background-img-margin: 5%;

@wrapper-indent: 1%;
  
//COLORS
@header-color:#383836;
@transparent-layer-color:rgba(53,53,51,0.3);
@header-nav-color: #2f2f2e;
@header-logo-background: #f26c4f;
@content-background:#fefefe;
@footer-color:#373737;
@social-networks-background:#f26c4f;
@social-networks-hover-background:#c26651;
@social-networks-text-color:#af3f27;
@social-networks-border-color: #bd5f4b;

@sidebar-background:#fefefe;
@sidebar-content-padding:1% 5.89% 8%;

@logo-font-size:24px;
@logo-font-color:#d66c51;


//TEXT
@text-color: #ffffff;
@text-header-color: #3a3e3f;

@article-margin:0 0 2% 0;
@article-background:#ffffff;
@article-boxshadow:0 0 0 1px rgb(194, 192, 184) inset;
//News
@news-head-height:300px;
@news-body-background:#FFFFFF;
@news-sub-header-color:#f26c4f;
@news-content-padding:0 5.89% 8%;
@news-head-padding:5.5px;


@footer-height:800px;

//SOCIAL NETWORKS IN NEWS HEAD
@news-social-networks-padding-bottom:55px;
@news-count-social-networks:2;

//FOOTER
@footer-button-background-color:#d56d52;
@footer-button-text-color:#a13722;