//URL relative to the style.css
@font-folder:'../fonts/';
@img-folder: '../img/';

@header-height: 92 px;
  
//COLORS
@header-color:rgb(56, 56, 54);


.Shape_1 {
background-color: rgb(56, 56, 54);
opacity: 0.302;
position: absolute;
left: -44px;
top: 7px;
width: 1502px;
height: 89px;
z-index: 183;
}
