//URL relative to the style.css
@font-folder:'../fonts/';
@img-folder: '../img/';

@header-height: 92px;
@header-nav-heigth: 45px;
@header-background-img-margin: 5%;
  
//COLORS
@header-color:#383836;
@header-nav-color: #2f2f2e;
@header-logo-background: #f26c4f;


@logo-font-size:24px;


//TEXT
@text-color: #ffffff;